#!/usr/bin/env bash

#
# New Relic credentials
#
# Create a User Key for your New Relic account
# and add it here with your account ID:
# https://docs.newrelic.com/docs/apis/intro-apis/new-relic-api-keys/#user-api-key
#
export NEW_RELIC_API_KEY=""
export NEW_RELIC_REGION="US" # or EU
export NEW_RELIC_ACCOUNT_ID=""

#
# AWS credentials
# Use the credential shared by the SKO team here: https://bit.ly/oac-sko-fy23
#
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""


#
# Don't change this
#
export TF_VAR_NEW_RELIC_CHECK_ACCOUNT_ID="$NEW_RELIC_ACCOUNT_ID"
export TF_VAR_NEW_RELIC_ACCOUNT_ID="$NEW_RELIC_ACCOUNT_ID"
echo "Your New Relic Account ID is $NEW_RELIC_ACCOUNT_ID"
